.syntax--source.syntax--json {
  .syntax--meta.syntax--structure.syntax--dictionary.syntax--json {
    & > .syntax--string.syntax--quoted.syntax--json {
      color: @syntax-color-variable;

      & > .syntax--punctuation.syntax--string {
        color: fade(@syntax-color-variable, @syntax-fade);
      }
    }
  }

  .syntax--meta.syntax--structure.syntax--dictionary.syntax--json,
  .syntax--meta.syntax--structure.syntax--array.syntax--json {
    & > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json {
      color: @syntax-color-string;

      & > .syntax--punctuation {
        color: fade(@syntax-color-string, @syntax-fade);
      }
    }

    & > .syntax--constant.syntax--language.syntax--json {
      color: @syntax-color-language;
    }
  }
}
